#form {
  margin-top: 1rem;

  & .container {
    margin-inline: auto;

    & h1 {
      font-weight: var(--fw-bold);
      font-size: var(--fs-title);
      line-height: var(--lh-title);
      font-family: var(--ff-inter);
      color: var(--content-primary);

      padding-bottom: 2.75rem;
    }

    & .form-bottom {
      width: 100%;

      & #newItem {
        flex-grow: 3;
        background-color: var(--background-secondary);

        outline: 2px solid var(--border-primary);
        border-radius: 0.75rem;
        padding-block: 0.6875rem;
        padding-left: 1.125rem;

        font: 400 1rem/140% var(--ff-inter);
        color: var(--content-primary);

        &:hover {
          outline-color: var(--border-hover);
        }

        &:focus {
          outline: 2px solid var(--color-brand);
        }

        &::placeholder {
          font-family: var(--ff-inter);
        }
      }

      & #addButton {
        flex-grow: 1;
        background-color: var(--color-brand);

        border-radius: 0.75rem;
        padding: 0.75rem 1.5rem;

        font-weight: var(--fw-semibold);
        font-size: var(--fs-label);
        line-height: var(--lh-label);
        font-family: var(--ff-inter);
        color: var(--always-white);

        &:hover {
          background-color: var(--color-brand-hover);
          cursor: pointer;
        }
      }
    }
  }
}
@media (width <= 390px) {
  #form {
    & .form-bottom {
      flex-direction: column;
    }
  }
}
