#list {
  margin-inline: auto;
  margin-top: 2.5rem;

  flex-direction: column;
  gap: 0.75rem;

  & li {
    border-radius: 0.75rem;
    padding-inline: 0.75rem;

    background-color: var(--background-secondary);

    justify-content: space-between;
    align-items: center;
    gap: 0.75rem;

    & input[type="checkbox"] {
      border-radius: 0.375rem;
      border: 1px solid var(--border-primary);
      width: 1rem;
      height: 1rem;

      &:hover {
        border-color: var(--border-hover);
        cursor: pointer;
      }

      &:checked {
        border: none;
        accent-color: var(--color-brand);
      }
    }

    & span {
      font-weight: var(--fw-medium);
      font-size: var(--fs-paragraph);
      line-height: var(--lh-paragraph);
      font-family: var(--ff-inter);
      color: var(--content-secondary);

      margin-right: auto;
      padding-block: 0.75rem;
    }

    & img {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media (width <= 390px) {
}
