* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}
