.container {
  width: 39.1875rem;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.gap-0\.5 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-1\.5 {
  gap: 1.5rem;
}

.gap-2 {
  gap: 2rem;
}

@media (width <= 390px) {
  .desktop-only {
    display: none;
  }

  .container {
    width: 20.4375rem;
  }
}
